{% extends 'core/base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <h2 class="mb-4">Projelerim</h2>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'project_detail' project.id %}">{{project.title}}</a>
                            </h5>
                            <p class="card-text">{{ project.description|truncatewords:10 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
{% endblock %}